<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.hacktech.fistbump"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	<uses-feature android:glEsVersion="0x00020000" android:required="false"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="io.hacktech.fistbump.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
         <activity
            android:name="io.hacktech.fistbump.NFCCommunication"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/io.hacktech.fistbump" />
			</intent-filter>
        </activity>
        
           <activity
            android:name="io.hacktech.fistbump.UserGame"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="io.hacktech.fistbump.ProfileActivity"
            android:label="@string/profile" />
        <activity
            android:name="io.hacktech.fistbump.LocationActivity"
            android:label="@string/find_users">
        </activity>

        <activity
            android:name="io.hacktech.fistbump.usersetup.NotLoggedInLandingActivity"
            android:label="@string/login">
        </activity>
        <activity
            android:name="io.hacktech.fistbump.usersetup.LoginActivity"
            android:label="@string/login">
        </activity>
		<activity
            android:name="io.hacktech.fistbump.usersetup.RegistrationActivity"
            android:label="@string/register">
        </activity>
        
		<activity
            android:name="io.hacktech.fistbump.SearchResultsActivity"
            android:label="@string/results">
        </activity>
        
		<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAjdKMexOVaPiJ6x40UJNTLvdeFMg87aMY" />
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
    </application>
    
    

</manifest>
